@font-face {
  font-family: raleway;
  src: url(fonts/raleway.medium.ttf);
}

@font-face {
  font-family: opensans;
  src: url(fonts/open-sans.regular.ttf);
}

@font-face {
  font-family: opensanslight;
  src: url(fonts/open-sans.light.ttf);
}

body {
	margin: 0;
	font-family: opensans;
	
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	margin: 8px;
}

h1 {
	font-family: raleway;
	margin: 0;
}

h2 {
	font-family: raleway;
	font-size: 18px;
}

a {
	color: #555;
}

li::marker {
	color: #555;
}

.banner {
	position: relative;
}

.banner img {
	width: 100%;
}

.title {
	font-family: raleway;
	font-size: 20px;
	padding: 6px 6px;
	margin: 0;
}

.text {
	padding: 0 8px;
}

.mobile-navigation-button {
  position: absolute;
  top: 12px;
  right: 16px;
  
  font-family: sans-serif;
  
  width: 32px;
  height: 32px;
  border: 2px solid #7f7f7f;
  border-radius: 3px;
}

#navbar {
	display: none;
}

nav li a {
  display: block;
  padding: 12px 0;
  
  font-size: 24px;
  text-decoration: none;
  
  color: #555;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  padding: 10px 8px;
  border-top: 1px solid #888;
}

nav ul ul a {
  font-size: 20px;
  margin: 0 16px;
  display: block;
}

#menu-button {
    background: url(images/burger.png);
}

#close-button {
	background: url(images/close.png);
}

#contact-box {
	background: #F5E8F5;
	
	width: 100%;
	padding: 48px 0;

	font-family: opensanslight;
	text-align: center;
	font-size: 20px;
}

#contact-hr {
	border: 2px solid #333;
	width: 48px;
}

#contact-name {
	font-size: 36px;
}

.row {
	display: flex;
	padding: 12px;
	flex-wrap: wrap;
}

.column {
	width: 100%;
}

#profile-pic {
	width: 100%;
}

#profile-text {
	padding: 12px;
	line-height: 28px;
}

footer {
	width: 100%;
	
	font-size: 12px;
	
	text-align: center;
	padding: 12px 0;
	
	margin-top: auto;
}

#footer-hr {
	border: 0.5px solid #999;
	width: 100%;
}

@media screen and (min-width: 500px) {
	.title {
	  font-family: raleway;
	  font-size: 32px;
	  text-align: right;

	  position: absolute;
	  bottom: 18px;
	  right: 12px;

	  padding: 8px 12px;
	  margin: 0;

	  background: #FFFFFFDD;
	  color: #333333;
	}
	
	#contact-box {
		//margin-top: 200px;
		//margin-bottom: 80px;
	}

}

@media screen and (min-width: 700px) {
	body {
		max-width: 860px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
		margin-bottom: 0;
		padding: 0 6px;
	}
	
	.mobile-navigation-button {
		display: none;
	}
	
	.row {
		display: flex;
		padding: 12px;
		flex-wrap: nowrap;
	}
	
	.column {
		width: 50%;
	}
	
	header {
		display: none;
	}

	#navbar {
		display: flex;
	}
	
	nav {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin: 4px 0;
	}

	nav ul {
		padding: 0;
		margin: 0;
		list-style: none;
		position: relative;
	}
		
	nav > ul > li {
		display: inline-block;
		line-height: 22px;
		
		margin-left: 18px;
	}
	
	nav li {
		border: none;
		padding: 0;
	}

	nav li a {
		
		display: block;
		text-decoration: none;
		
		font-family: raleway;
		font-size: 18px;
		color: #333333;
	}

	nav > ul > li > a:hover {
		text-decoration: underline;
		text-decoration-thickness: 3px;
	}

	nav ul ul {
		display: none;
		
		position: absolute;
		top: 48px;
	}

	nav ul li:hover > ul {
		display: inherit;
	}

	nav ul ul li {
		/*width: 360px;*/
		float: none;
		display: list-item;
		position: relative;
		
		padding: 0 12px;
		
		background: #fff;
		z-index: 10;
	}

	nav ul ul li a {
		font-size: 16px;
	}
}

#logo {
  margin: auto;
  display: block;
}



section, section:target ~ #start {
  display: none;
}

#start, section:target {
  display: block;
}



strong {
	font-size: 32px;
}

.quote {
	margin-top: 50px;
	margin-bottom: 50px;
}